.corpo {
    display: grid;
    grid-template: 100px 620px/ 420px 800px;
}

.corpo h2 {
    grid-area: 1 / 1 / span 1 / span 1;
    text-align: center;
    padding-top: 25px;
    font-size: 30px;
    border-radius: 15px 0 0;
}

.menu {
    grid-area: 2 / 1 / span 2 / span 1;
    border-radius: 0 0 0 15px;
}

#barraPesquisa {
    width: 300px;
    font-size: 16px;
    padding: 10px;
    /*border: 2px solid #eeeeee;*/
    border-radius: 50px;
    border: none;
    display: block;
    margin: auto;
}

#definicoes {
    list-style-type: none;
    margin-top: 45px;
}

.botaoDefinicao {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    padding: 15px;
    border: none;
}

.selecionado {
    border: none;
}

#definicao {
    grid-area: 1 / 2 / span 1 / span 1;
    margin-top: 0px;
}

#paginaDefinicao {
    grid-area: 2 / 2 / span 1 / span 1;
}

#paginaDefinicao h3 {
    grid-area: 1 / 1 / span 1 / span 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

#formEscolheTema [type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

#formEscolheTema [type=radio]+img {
    cursor: pointer;
    width: 170px;
    height: auto;
    padding: 20px;
    border: none;
    border-radius: 3vh;
    box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 1px 3px 1px;
}


#formEscolheTema {
    display: grid;
    grid-template: 100px 520px / 400px 400px;
}

#darkMode {
    grid-area: 2 / 2 / span 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
    margin-right: 40px;
}

#lightMode {
    grid-area: 2 / 1 / span 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
    margin-left: 40px;
}

#paginaTamanhoLetra {
    display: grid;
    grid-template: 100px 520px/ 1fr;
}

#selecionaTamanhoLetra {
    grid-area: 2 / 1 / span 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}

#selecionaTamanhoLetra label {
    padding: 35px;
}

/* style slider */
/* slider grande por cima com tamahos de letra por baixo */

#formEscolheLayout {
    display: grid;
    grid-template: 100px 520px/ 1fr;
}

#layouts {
    grid-area: 2 / 1 / span 1 / span 1;
    display: grid;
    grid-template: 260px 260px / 400px 400px;
}


#formEscolheLayout [type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

#layout1 {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    margin: 30px;
    cursor: pointer;
}

.layoutSelecionado {
    border: solid 3px gray;
    border-radius: 15px;
}

#layouts .frame {
    border: 3px solid #ccc;
    border-radius: 15px;
    margin: 5px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
}

#layouts .callParticipant {
    height: 80px;
    width: auto;
    margin-top:-5px;
}

#layout2 {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
    margin: 30px;
    cursor: pointer;
}

#layout2 .topframe {
    grid-area: 1 / 1 / span 1 / span 3;
    border: 3px solid #ccc;
    border-radius: 15px;
    margin: 5px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
}

#layout3 {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    margin: 30px;
    cursor: pointer;
}

#layout3 .sideframe {
    grid-area: 1 / 1 / span 2 / span 1;
    border: 3px solid #ccc;
    border-radius: 15px;
    margin: 5px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
}

#layout4 {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    margin: 30px;
    cursor: pointer;
}

#layout4 .leftframe {
    grid-area: 1 / 1 / span 2 / span 1;
    border: 3px solid #ccc;
    border-radius: 15px;
    margin: 5px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
}

#layout4 .rightframe {
    grid-area: 1 / 2 / span 2 / span 1;
    border: 3px solid #ccc;
    border-radius: 15px;
    margin: 5px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
}

#paginaVolumeSom {
    display: grid;
    grid-template: 260px 360px / 800px;
}

#paginaVolumeSom *{
    display: flex;
    justify-content: center;
    align-items: center;
}

#dispositivoSaida {
    grid-area: 1 / 1 / span 1 / span 1;
    display: grid;
    grid-template: 60px 30px 70px 30px 70px/ 800px;
}

#dispositivoEntrada {
    grid-area: 2 / 1 / span 1 / span 1;
    display: grid;
    grid-template: 60px 30px 70px 30px 70px 30px 70px/ 800px;
}

#dispositivoEntrada label{
    margin: 20px;
}

#saida, #entrada{
    /*   background-color:red; */
      font-family: 'Poppins',sans-serif;
      color:black;
      border-radius:6px;
      width:120px;
      height:30px;
      cursor: pointer;
     }