.corpo {
    display: grid;
    grid-template-columns: 1280px;
    grid-template-rows: 144px 72px 468px 36px;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "titulo"
      "botoesCont"
      "contactos"
      ".";
  }
  
  .titulo { grid-area: titulo; }
  
  .contactos {
    display: grid;
    grid-template-columns: 340px 600px 340px;
    grid-template-rows: 100%;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". caixa_contactos .";
    grid-area: contactos;
  }
  
  #caixa_contactos { grid-area: caixa_contactos; }
  
.contacto{
    display: grid;
    grid-template-columns: 100px 250px 50px 25px 50px 25px;
    grid-template-areas: 'avatar nome icone1 . icone2 .';
    overflow:hidden;
}

.contacto:hover{
  cursor: pointer;
}

.contacto li{
    display: inline;
    margin-top: auto;
    margin-bottom: auto;
}

.descricao{
    grid-area: botoesCont;
    display:flex;
    justify-content:center;
    align-items:center;
}

.separa{
  width:20px;
}
























